*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: monospace;
  font-size: 16px;
  overflow: hidden;
}

button {
  cursor: pointer;
  font-weight: 500;
  font-family: monospace;
  transition: all ease-in-out 0.2s;
}

.main {
  position: relative; 
}


/* header section */
.header {
  color: white;
  background-color: #1f2937;
  padding: 1.5em 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2em;
}

.players-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.players-container article {
  overflow: hidden;
  border-radius: 6px;
  background-color: aqua;
  padding: 1em 1.5em; 
}
.player-image {
  object-fit: cover;
  height: 8em;
  width: 8em;
}
/* Output section styling */
.output-section {
  background-color: deepskyblue;
  color: ghostwhite;
  padding: 1.5em 2em;
  gap: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.choices {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}


.output-section p {
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* button section styling */
.buttons-container {
  background-color: silver;
  display: flex;
  justify-content:  space-evenly;
  align-items: center;
  gap: 2em;
  min-height: 12em;
  flex-wrap: wrap;
}

.main-btn {
  font-size: 1.2rem;
  padding: 0.5em 1.5em;
  background-color: ghostwhite;
  color: black;
}
.main-btn:hover {
  background: black;
  color: ghostwhite;
}
.main-btn:focus {
  background: yellow;
  color: black;
}

/* Game results styling: Styles the results modal */
.game-results {
  background-color:black;
  opacity: 0.8;
  color: ghostwhite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  padding: 1.5em 0;
}
.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: 40%;

}

.play-again {
  background-color: transparent;
  color: yellow;
  border: 2px solid yellowgreen;
  opacity: 1;
  font-weight: 700;
  padding: 1em 2em;
}
.play-again:hover {
  background-color: yellowgreen;
  color: black;
}

.content-hidden {
  display: none;
}